@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: var(--textDark);
}

ul {
    list-style: none;
}

:root {
    --bgNav: #F2D531;
    --bgBody: #F3DA37;
    --textDark: rgb(0, 31, 64);
    --textLight: #fff;
}

.container {
    width: calc(100% - 2rem);
    max-width: 1000px;
    margin-inline: auto;
}

body {
    overflow: hidden;
    overflow-x: hidden !important;
}

.nav {
    background: var(--bgNav);
    padding: 22px 0;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 10px 15px rgba(0, 31, 64, .05);
    border-bottom: 1px solid rgba(0, 31, 64, .09);
}

.navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.navBox h1 {
    font-weight: 300;
    color: var(--textDark);
    font-size: 2rem;
    letter-spacing: 2;
}

.navBox h1 span {
    font-weight: 900;
}

.navBox ul {
    display: flex;
    align-items: center;
}

.navBox ul li {
    width: 80px;
    /* margin-inline: 14px */
    text-align: center;
    /* border: 1px solid red; */
}

.navBox ul li:nth-child(5) {
    width: 120px;
}

.navBox ul li:nth-child(4) {
    width: 90px;
}

.navLink {
    cursor: pointer;
    /* transition: border ease-in-out 300ms; */
    border: none;
    font-weight: 600;
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
}

.navLink:hover {
    padding: 8px 16px;
    margin-inline: 0;
    border: 2px solid var(--textLight);
}

/* heroSection */

.heroSection {
    background: var(--bgBody);
    height: 100vh;
}

h3 {
    text-align: center;
    padding-top: 20%;
    font-size: 2.6rem;
    font-weight: 300;
    color: var(--textDark);
    opacity: .8;
}

h2 {
    text-align: center;
    font-size: 9rem;
    color: var(--textLight);
}

.heroSection p {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    color: var(--textDark);
    font-weight: 300;
    line-height: 1.7;
}

.heroSection p span {
    font-weight: 800;
}

.giraffBox {
    position: absolute;
    right: 25%;
    top: 56%;
}

@media screen and (max-width: 1000px) {
    .giraffBox {
        width: fit-content;
        top: 50%;
        left: 80%;
         transform: translateX(-50%);
    }

    .heroSection h3 {
        padding-top: 30%;
    }

    body {
        overflow-y: scroll;
        background: var(--bgBody);
    }

}

.mobileMenuBtn img{
    cursor: pointer;
}

.mobileMenuBtn {
    display: none;
}

.closeBtn {
    display: none;
    position: absolute;
    top: 6%;
    right: 6%;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .mobileChangeNav {
        /* display: none; */
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 100%;
        bottom: 0;


        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        transition: all ease-in-out 320ms;
    }

    .mobileChangeNav ul {
        flex-direction: column;
        margin-top: 10%;
    }

    .mobileChangeNav ul li {
        margin-top: 5%;
        width: calc(100% - 4rem) !important;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 31, 64, .2);
    }

    .closeBtn {
        display: inline;
    }

    .navLink {
        font-size: 1rem;
    }

    .navLink:hover {
        border: none;
    }

    .mobileMenuBtn {
        display: inline;
    }
}

